#Custom test files
run_test.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Others
.ipynb_checkpoints
*.lprof
*.prof
*.DS_Store
.idea/ 

# Files
demo/data
BenchmarkData.zip
analysis_pipeline/
BenchmarkData/
BenchmarkData2/
BenchmarkData3/
BenchmarkData4/
skrebate_old
analysis/BasicXOR/
analysis/BasicXOR2/
analysis/BasicXOR2_2/
analysis/BasicXOR3/
analysis/jobs/
analysis/logs/
analysis/core2wayEpistasis
*.zip
